thirdparty/
wandb/
output/
data/synthetic*
*.ipynb
*.out
__pycache__
Pointnet2_PyTorch/*
model/Uni3D/path/to/checkpoints/*
model/Uni3D/path/to/clip_model/*
*.tar*
notes/
data/RoboSpatial
data/new_anno/out
scenes
data/annotation/output
*.vscode*
hf_token.txt