accelerate
peft
open-clip-torch
easydict 
h5py
ninja
datasets
deepspeed
einops
huggingface_hub
matplotlib
msgspec
numpy
open3d
pandas
plyfile
omegaConf
scikit-learn
scipy
setuptools==69.5.1
timm
tqdm
wandb